.page-content {
  padding: 50px;
  color: #ffffffff;
}

.page-content ul {
  list-style: none;
  padding: 0;
}

.page-content ul li {
  background: #f0f8ff;
  margin: 10px 0;
  padding: 15px;
  border-left: 5px solid #2a5298;
  border-radius: 5px;
}
